html,body{
    height: 100vh;
   
}

body{
    
     padding: 0;
     margin: 0; 
      /* background-image: linear-gradient(to bottom,var(--morado),var(--azul));   */
     background : url('../assets/candies.png') ;
     background-color: var(--morado);
    font-family: 'Amatic SC', cursive;
    background-attachment: fixed;
    

    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 70%;
    height: 70%;
}
button:hover{
    color: white;
    cursor: pointer;
}
:root{
    --morado : #da90f4;
    --azul :#a0d5ff ;
}
a{
    text-decoration: none ;
    color: black;
}
a:hover{
    text-decoration:none;
    color:red;
    cursor:pointer;
}
i{
    margin-right: 5px;
}

.wrapper{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.link{
    border: 1px solid white;
    border-radius: 10px;
     margin: 20px 0;
     width: 300px;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
     
     /* background-color: white; */
     font-size: x-large;
     font-weight: 700;
     background-color: var(--azul);
     font-family: 'Amatic SC', cursive;
     
     
}
.link:hover{
    color:red;
    cursor:pointer;
}


li{
    list-style: none;
    
}
ol{
    margin: 0;
}

@media screen and (min-width :720px){

    .link{

        width: 600px;
        height: 100px;
        
    }
    .logo img {
        width: 100%;
        height: 100%;
    }
}